h2 {
  margin-top: 10px;
  text-align: center;
}

p b {
  font-weight: bold;
  margin-right: 5px;
}

.logout {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.logout-btn {
  border: 1px solid var(--red);
  color: var(--red);
}

.logout-btn:hover {
  border: 1px solid var(--white);
  background-color: var(--red);
  color: var(--white);
}

@media screen and (min-width: 992px) {
  .main {
    margin-top: 100px;
  }

  .btn-primary {
    width: 50%;
  }

  .profile-wrapper {
    width: 50%;
    margin: auto;
  }
}
