.main {
  height: 500px;
  overflow-y: scroll;
}
.loader-wrapper {
  width: 100%;
  margin: auto;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-card {
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: red;
}

.action span:hover {
  cursor: pointer;
}
