.footer {
  text-align: center;
}

.footer a {
  color: black;
  margin-left: 2px;
}
.footer a:hover {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
