@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #222831;
}

:root {
  --green: #c4c65a;
  --white: #fbfdff;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {
  min-height: 75vh;
}
