@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.App {
  padding: 20px;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App img {
  width: 200px;
}

.App h2 {
  margin-bottom: 10px;
}
