@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

:root {
  /* Colors */
  --green: #c4c65a;
  --white: #fbfdff;
  --red: #c95a3a;
  --yellow: #ebd37a;

  --hover-red: rgba(201, 90, 58, 0.7);
  --hover-green: rgba(196, 198, 90, 0.7);
}

a {
  text-decoration: none !important;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 0.1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {
  min-height: 75vh;
}

.btn {
  min-width: 120px;
  text-align: center;
  margin: 30px auto 10px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-out;
}

.btn-primary {
  background-color: var(--green);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--green);
}

.btn:hover {
  cursor: pointer;
}

.loader-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.MuiCircularProgress-svg {
  color: var(--red);
}

@media screen and (min-width: 992px) {
  .app {
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas:
      "header main"
      "footer";
  }
}
